{% extends 'home.html' %} {% block contact %}
<!-- CONTACT -->
<!-- since we are extending from home.html we should place the style here other was -->
<style>
  .errorlist {
    color: red;
    font-weight: bold;
  }
</style>
<section id="contact" class="section one-page-section second-bg">
  <div class="container">
    <div class="section-title">
      <h2>contact me</h2>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="col-xs-12 col-sm-4">
          <div class="contact-item mb-30">
            <div class="c-icon text-center">
              <i class="fa fa-phone"></i>
            </div>
            <div class="c-text">
              <h5>PHONE</h5>
              <h6>+1-631-464-9256</h6>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="contact-item mb-30">
            <div class="c-icon text-center">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="c-text">
              <h5>LOCATION</h5>
              <h6>Tampa, FL</h6>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="contact-item mb-30">
            <div class="c-icon text-center">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="c-text">
              <h5>EMAIL</h5>
              <h6>mahsernihat@gmail.com</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <br style="line-height:75px;" />
        <form id="form" action="" method="post">
          {% csrf_token %} {{form.as_p}}
          <button type="submit" class="effect submit-btn">
            Send Message
          </button>
        </form>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- End Container -->
</section>
<!-- END CONTACT -->

{% endblock %}
